/* CSS Style Sheet for Table Top Cafe */

/* Global Styling */

    :root {
        /* Colours */
        --colour_coffee_bean: #271D16;
        --colour_latte: #B08A6D;
        --colour_cream: #E3D2CA;

        /* Fonts */
        --font_heading: "Italiana", sans-serif;
        --font_body: "Montserrat", sans-serif;
    }

    body {
        background-color: var(--colour_coffee_bean);
    }

    footer {
        background-color: var(--colour_latte);
    }

    .text_center {
            text-align: center;
        }



    /* Text Styling */

        h1 {
            font-family: var(--font_heading);
            font-size: 96px;
            font-weight: 600;
            font-style: normal;
        }

        .h1_hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            overflow: hidden;

        }

        h2 {
            font-family: var(--font_heading);
            font-size: 3rem;
            font-weight: 200;
            color: var(--colour_latte);
            
        }

        .h2_hero {
            font-family: var(--font_heading);
            font-size: 5rem;
            font-weight: 200;
            margin: 3rem 0rem;
            color: var(--colour_cream);

        }
        .h2_logo {
            font-family: var(--font_body);
            color: var(--colour_latte);
            font-size: 28px;
            font-variant: small-caps;
            font-weight: 400;
        }

        h3 {
            font-family: var(--font_body);
            color: var(--colour_latte);
            font-size: 1.4rem;
            font-kerning: 10%;
            font-weight: 400;
            text-transform: uppercase;
        }

        p {
        font-family: var(--font_body);
        font-size: 1rem;
        font-style: normal;
        color: var(--colour_latte);
        }

        .p_games {
            font-family: var(--font_body);
            font-size: 0.9rem;
            /* font-style: normal; */
            color: var(--colour_cream);
        }

        .p_events {
            font-family: var(--font_body);
            font-size: 1.1rem;
            font-variant: small-caps;
            color: var(--colour_cream);
        }

        /* Header Styling */
        .clickables {
            max-height: 2rem;
            justify-content: space-between;
            padding: 40px 20px 20px 20px;
        }

        /* Nav Bar Styling */
        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* justify-content: flex-end; */
        }

        nav li {
            list-style: none;
            text-decoration: none;
        }

        .nav_link {
            text-decoration: none;
            font-family: var(--font_body);
            font-size: 1.3rem;
            text-transform: uppercase;
            color: var(--colour_latte);
        }

        .nav_wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

/* Index Specific Styles */
    /* Hero Styling */
    .text_overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        /* Hero Carousel */
        .hero_carousel {
            background-image: url(../assets/images/image_dropin.png);
            /* max-width: 100%; */
            max-height: 50vh;
            background-size: cover;
        }

.iconography {
    max-height: 2rem;
}
    
.games {
    object-fit: cover;
    width: 100%;
}

.games_wrap {
    padding: 20px 20px;
}