/* CSS Style Sheet for Table Top Cafe */

/* Global Styling */

    :root {
        /* Colours */
        --colour_coffee_bean: #271D16;
        --colour_latte: #B08A6D;
        --colour_cream: #E3D2CA;

        /* Fonts */
        --font_heading: "Italiana", sans-serif;
        --font_body: "Montserrat", sans-serif;
    }

    body {
        background-color: var(--colour_coffee_bean);
    }

    footer {
        background-color: var(--colour_latte);
    }



    /* Text Styling */

        h1 {
            font-family: var(--font_heading);
            font-size: 96px;
            font-weight: 600;
            font-style: normal;
        }

        .h1_hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            /* clip-path: inset(100%); */

        }

        h2 {
            font-family: var(--font_heading);
            font-size: 64px;
            font-weight: 200;
            color: var(--colour_cream)
        }

        .h2_logo {
            font-family: var(--font_body);
            color: var(--colour_latte);
            font-size: 28px;
            font-variant: small-caps;
            font-weight: 400;

        }

        h3 {
            font-family: var(--font_body);
            color: var(--colour_latte);
            font-size: 24px;
            font-kerning: 10%;
            font-weight: 400;
            text-transform: uppercase;
        }

        p {
        font-family: var(--font_body);
        font-size: 24px;
        font-style: normal;
        color: var(--colour_latte);
        }

        /* Header Styling */
        .clickables {
            justify-content: space-between;

        }

        /* Nav Bar Styling */
        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* justify-content: flex-end; */
        }

        nav li {
            list-style: none;
            text-decoration: none;
        }

        .nav_link {
            text-decoration: none;
            font-family: var(--font_body);
            font-size: 1.3rem;
            text-transform: uppercase;
            color: var(--colour_latte);
        }

        .nav_wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        /* Hero Styling */
        .text_overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }