/* CSS Style Sheet for Table Top Cafe */

/* Global Styling */

    /*  */

    /* Text Styling */

        h1 {
        font-family: "Italiana", sans-serif;
        font-weight: 600;
        font-style: normal;
        }


        p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        }